* {
    font-family: sans-serif;
}

.title {
    text-align: center;
}

.status {
    font-size: 1.2rem;
    width: 480px;
    margin-left: calc(100% - 480px - 5%);
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.status::after {
    content: "";
    width: 480px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas {
    padding: 1px;
    display: block;
    margin: 40px auto;
    border: 1px solid black;
}
